#container
{
	
}

.content
{
	float:left;
}

#ieScolding
{
	position:absolute;
	top:0px;
	left:0px;
	margin: 15px 0 0 15px;
	font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
	
}

.title{
display:block;
left:150px;
position:relative;
}

.peppermints{

}

#pep2{
}

#stuffbox{
}
#spheres{
}


#sidenav
{
}


#top{
	
}

.clear { 
    display: block; 
    clear: both; 
} 