div p  img a{
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

#container
{
	clear:both;
	float:left;
	display:block;
	position:absolute;
	top:60px;
	
}

.title{
color:#84b8fa;
z-index:30;
display:inline;
font: bold 72px/72px 'Sigmar One',sans-serif;
position:relative;
top:30px;
left:-30;
}


.pinkTextShadow{
text-shadow: 0 1px 0 #ccaae1,
               0 2px 0 #d4b7e6,
               0 3px 0 #c095da,
               0 4px 0 #c7a1de,
               0 5px 0 #b37fd2,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.3),
               0 20px 20px rgba(0,0,0,.15);
}



.shadow{
-webkit-box-shadow: 0 1px 0 #ccaae1,
               0 2px 0 #d4b7e6,
               0 3px 0 #c095da,
               0 4px 0 #c7a1de,
               0 5px 0 #b37fd2,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.3),
               0 20px 20px rgba(0,0,0,.15);
box-shadow: 0 1px 0 #ccaae1,
               0 2px 0 #d4b7e6,
               0 3px 0 #c095da,
               0 4px 0 #c7a1de,
               0 5px 0 #b37fd2,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.3),
               0 20px 20px rgba(0,0,0,.15);
}


.peppermints{
z-index:1;
display:inline;
float:left;
position:relative;
}

#pep2{
top:-30px;
margin-left:-60px;
z-index:0;
}

.vertical {
background-color: 
#FFFA95;
background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, 
rgba(255, 255, 255, .25)), color-stop(.5, 
transparent), to(
transparent));
background-image: -webkit-linear-gradient(0deg, 
rgba(255, 255, 255, .25) 50%, 
transparent 50%, 
transparent);
background-image: -moz-linear-gradient(0deg, 
rgba(255, 255, 255, .25) 50%, 
transparent 50%, 
transparent);
background-image: -ms-linear-gradient(0deg, 
rgba(255, 255, 255, .25) 50%, 
transparent 50%, 
transparent);
background-image: -o-linear-gradient(0deg, 
rgba(255, 255, 255, .25) 50%, 
transparent 50%, 
transparent);
background-image: linear-gradient(0deg, 
rgba(255, 255, 255, .25) 50%, 
transparent 50%, 
transparent);
}
.widestripes {
float: left;
-webkit-background-size: 100px 100px;
-moz-background-size: 100px 100px;
background-size: 100px 100px;
}

#stuffbox{
z-index:-10;
font: 80.5%/1 "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
float:left;
margin:50px 20px 20px 10px;
}
#spheres{
height:100%;
float:left;
margin: -40px 30px 20px 10px;
}


#sidenav
{
background-color:#FDEEF4;
float:left;
margin: -100px 10px 0px 10px;
width:200px;
}


#top{
    position:relative;
    display: block; 
    clear: both; 
	width:1200;
	margin: -345px 0px -400px 0px;
	z-index:1000;
		
}


.clearfix:after { 
    content: "."; 
    display: block; 
    clear: both; 
    visibility: hidden; 
} 
