.angled   
{
	/* http://lea.verou.me/2010/12/checkered-stripes-other-background-patterns-with-css3-gradients/ */
	background-color: #C8BBBE;
	background-image: -webkit-gradient(linear, 0 100%, 100% 0,
									color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
									color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
									color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
			 						to(transparent));
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
	background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
}


.narrowstripes {
-webkit-background-size: 10px 10px;
-moz-background-size: 10px 10px;
background-size: 10px 10px;
}

.ropeBase
{
width:400px; 
height:400px; 
position:relative;
-moz-border-radius: 50%;
-webkit-border-radius: 390px;
border-radius: 390px;
}

.ropeAbove
{
top:-10px;
-webkit-box-shadow: 1px 0px 4px 3px rgba(0,0,0,0.35); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
box-shadow: 1px 0px 4px 3px rgba(0,0,0,0.35); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}

.rope
{
left: -8px;
float:left;
-webkit-box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.35); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.35); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}


.flagBase
{
font-size:0px;
line-height:0px;
width:0px; 
height:0px;
position:absolute; 
}

.flag
{
  border-left:50px solid transparent;
  border-right:50px solid transparent;
  border-top:90px solid;

   top:-92px;
  left:-48px;

}

.flagDeco 
{
  border-left:40px solid transparent;
  border-right:40px solid transparent;
  border-top:60px solid;/* $("selector").css("border-top-color", "#fff");*/

  top:-88px;
  left:-38px;  
}

.flagShadow
{
  border-left:50px solid transparent;
  border-right:50px solid transparent;
  border-top:90px solid rgba(0,0,0,0.25);

  top:370px;
}

.leftTiltFlag{
      -webkit-transform: rotate(26.6deg);  /* Saf3.1+, Chrome */
     -moz-transform: rotate(26.6deg);  /* FF3.5+ */
      -ms-transform: rotate(26.6deg);  /* IE9 */
       -o-transform: rotate(26.6deg);  /* Opera 10.5 */
       transform: rotate(26.6deg);
       left:40px;
}

.rightTiltFlag{
      -webkit-transform: rotate(-26.6deg);  /* Saf3.1+, Chrome */
     -moz-transform: rotate(-26.6deg);  /* FF3.5+ */
      -ms-transform: rotate(-26.6deg);  /* IE9 */
       -o-transform: rotate(-26.6deg);  /* Opera 10.5 */
       transform: rotate(-26.6deg);  
	   left:260px;
}


